@font-face {
  font-family: "Font";
  src: url("./fonts/GothamBook.ttf") format("truetype");
}

body {
  background: linear-gradient(to bottom, #5e1b89 25%, #f4512c 100%);
  height: 100vh;
  font-family: "Font", sans-serif !important;
  font-weight: 600 !important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
